<!-- <div class="container">
    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="userID">User ID</label>
            <input type="number" name="userID" class="form-control" [(ngModel)]="user.userID"/>   
        </div>
        <div class="form group">
            <label for="userName">Name</label>
            <input type="text" name="userName" class="form-control" [(ngModel)]="user.userName"/>   
        </div>
        <div class="form group">
            <label for="userAddress">Address</label>
            <input type="text" name="userAddress" class="form-control" [(ngModel)]="user.userAddress"/>   
        </div>
        <div class="form group">
            <label for="bloodType">BloodType</label>
            <input type="text" name="bloodType" class="form-control" [(ngModel)]="user.bloodType"/>   
        </div>
        <div class="form group">
            <label for="userContact">Contact</label>
            <input type="number" name="userContact" class="form-control" [(ngModel)]="user.userContact"/>   
        </div>
        <div class="form group">
            <label for="userDOB">Date of Birth</label>
            <input type="date" name="userDOB" class="form-control" [(ngModel)]="user.userDOB"/>   
        </div>
        <div class="form group">
            <label for="userGender">Gender</label>
            <input type="text" name="userGender" class="form-control" [(ngModel)]="user.userGender"/>   
        </div>
        <div class="form group">
            <label for="userWeight">Weight</label>
            <input type="text" name="userWeight" class="form-control" [(ngModel)]="user.userWeight"/>   
        </div>
        <div class="form group">
            <label for="userUserName">Username</label>
            <input type="text" name="userUserName" class="form-control" [(ngModel)]="user.userUserName"/>   
        </div>
        <div class="form group">
            <label for="userPassword">Password</label>
            <input type="text" name="userPassword" class="form-control" [(ngModel)]="user.userPassword"/>   
        </div>
        <input type="submit" value="Save" class="btn btn-success" />
    </form>
  </div> -->
  <div class="container">
    <div id="margin">
    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="userName">Name</label>
            <input type="text" name="userName" class="form-control" [(ngModel)]="user.userName"/>   
        </div>
        <div class="form group">
            <label for="userAddress">Address</label>
            <input type="text" name="userAddress" class="form-control" [(ngModel)]="user.userAddress"/>   
        </div>
        <div class="form group">
            <label for="bloodType">BloodType</label>
            <input type="text" name="bloodType" class="form-control" [(ngModel)]="user.bloodType"/>   
        </div>
        <div class="form group">
            <label for="userContact">Contact</label>
            <input type="number" name="userContact" class="form-control" [(ngModel)]="user.userContact"/>   
        </div>
        <div class="form group">
            <label for="userDOB">Date of Birth</label>
            <input type="date" name="userDOB" class="form-control" [(ngModel)]="user.userDOB"/>   
        </div>
        <div class="form group">
            <label for="userGender">Gender</label>
            <input type="text" name="userGender" class="form-control" [(ngModel)]="user.userGender"/>   
        </div>
        <div class="form group">
            <label for="userWeight">Weight</label>
            <input type="text" name="userWeight" class="form-control" [(ngModel)]="user.userWeight"/>   
        </div>
        <div class="form group">
            <label for="userUserName">Username</label>
            <input type="text" name="userUserName" class="form-control" [(ngModel)]="user.userUserName"/>   
        </div>
        <div class="form group">
            <label for="userPassword">Password</label>
            <input type="text" name="userPassword" class="form-control" [(ngModel)]="user.userPassword"/>   
        </div>
        <input type="submit" value="Save" class="btn btn-success" />
    </form>
  </div>
</div>