<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      
      <i class="fa fa-user-md text-danger"></i>
      <span class="text-danger"> BBMS</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"><i class="fa fa-fw fa-home"></i>Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ud"><i class="fa fa-fw fa-user"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/fb"><i class="fa fa-fw fa-envelope"></i>FeedBack</a>
          </li>
      </ul>
    </div>
  </nav>
   -->
<div class="container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      
      <i class="fa fa-user-md text-danger"></i>
      <span class="text-danger"> BBMS</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="collapse navbar-collapse" id="navbarColor01">
      
    </div> -->
    <!-- <div>
    <form class="form-inline my-2 my-lg-0 ">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/"><i class="fa fa-fw fa-home"></i>Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/camp"><i class="fa fa-fw fa-user"></i>Campaign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/fb"><i class="fa fa-fw fa-envelope"></i>FeedBack</a>
              </li>
          </ul>
      </form>
    </div> -->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/"><i class="fa fa-fw fa-home"></i>Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/camp"><i class="fa fa-fw fa-user"></i>Campaign</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="logout()" *ngIf="checkLogin()"><i class="fa fa-sign-out"></i>Logout</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/ff"><i class="fa fa-fw fa-envelope"></i>FeedBack</a>
          </li>
        </ul>
    </div>
  </nav>
</div>
